.inputBlock {
    position: relative;
}

.input {
    background: var(--light-gray);
    border-radius: var(--radius);
    padding-top: 16px;
    padding-bottom: 16px;
    border: none;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: var(--black);
}

.inputError {
    background: var(--error-light);
}

.input::placeholder {
    color: var(--gray);
}

.inputIcon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
