.inputBlock {
    position: relative;
}

.input {
    background: var(--bg-light);
    border-radius: var(--radius);
    padding-top: 16px;
    padding-bottom: 16px;
    border: none;
    width: 100%;
    color: var(--typography);
}

.inputError {
    background: var(--error-light);
}

.input::placeholder {
    color: var(--typography);
}

.inputIcon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
