.dialogInputBlock {
    background: var(--light-gray);
    display: flex;
    align-items: center;
    padding: 20px;
}

.dialogInput {
    margin-right: 20px;
    flex: 1;
}

.dialogInputIconButton {
    background: var(--white-gray);
}
