.inputBlock {
    position: relative;
}

.input {
    background: #F6F7FB;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.02);
    border-radius: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: none;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #262626;
}

.input::placeholder {
    color: #E5E5E5;
}

.inputIcon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
