.button {
    background: var(--primary-gradient);
    border-radius: var(--radius);
    text-align: center;
    border: none;
    padding: 20px;
    width: 100%;
}

.buttonText {
    font-size: 18px;
    font-weight: 600;
    color: var(--typography-light);
}

.button:disabled {
    background: var(--bg-light);
    cursor: not-allowed;
}

.button:disabled .buttonText {
    color: var(--typography);
}
