@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    min-height: 100vh;
}

html[data-theme='dark'] body {
    background: var(--bg);
}

* {
    box-sizing: border-box;
    outline-color: var(--primary);
}

input::placeholder {
    color: var(--base);
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
