:root {
    --primary: #FF7841;
    --primary-gradient: linear-gradient(114.78deg, #FFA925 -5.11%, #FF7841 125.67%);
    --bg-light: #F6F7FB;
    --bg: #FFFFFF;
    --error: #fb654a;
    --error-light: #faddd8;
    --typography: #262626;
    --typography-light: #FAFAFA;
    --radius: 12px;
}

[data-theme='dark'] {
    --primary: #a12e00;
    --primary-gradient: linear-gradient(114.78deg, #b66e00 -5.11%, #a53000 125.67%);
    --bg-light: #1d1f20;
    --bg: #131516;
    --error: #9e1b04;
    --error-light: #9f2e00;
    --typography: #d0ccc6;
    --typography-light: #e8e6e3;
    --radius: 12px;
}
