:root {
    --primary: #FF7841;
    --primary-light: #fceaea;
    --bg: #FFFFFF;
    --error: #fb654a;
    --error-light: #faddd8;
    --typography: #262626;
    --typography-light: #FAFAFA;
    --base: #c5c5c7;
    --base-light: #f5f5f5;
    --warning: #fff6ab;
}

[data-theme='dark'] {
    --primary: #e94300;
    --primary-light: #fac5b1;
    --bg: #131516;
    --error: #9e1b04;
    --error-light: #9f2e00;
    --typography: #d0ccc6;
    --typography-light: #e8e6e3;
    --base: #c5c5c7;
    --base-light: #1e2021;
    --warning: #a49307;
}
