:root {
    --primary: #FF7841;
    --primary-gradient: linear-gradient(114.78deg, #FFA925 -5.11%, #FF7841 125.67%);
    --black: #262626;
    --light-gray: #F5F5F5;
    --gray: #d3d3d3;
    --white-gray: #ededed;
    --white: #FFFFFF;
    --error: #fb654a;
    --error-light: #faddd8;
    --radius: 12px;
}
