.searchUserItem {
    display: flex;
    background: var(--bg);
    padding: 10px 15px;
    cursor: pointer;
    align-items: flex-start;
}

.searchUserItem:hover, .searchUserItem:focus {
    background: var(--base-light);
}

.searchUserItemInfo {
    margin: 0 12px;
    flex: 1;
}
