.button {
    --padding: 14px;
    border: none;
    padding: var(--padding) calc(var(--padding) * 2);
    width: 100%;
    display: flex;
    justify-content: center;
}

.button:disabled {
    cursor: not-allowed;
}
