.dialogItem {
    display: flex;
    padding: 10px 15px;
    cursor: pointer;
    align-items: flex-start;
}

.dialogItem:hover, .dialogItem:focus {
    background: var(--base-light);
}

.dialogItemInfo {
    margin: 0 12px;
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

