.inputBlock {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input {
    --padding: 12px;
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    border: none;
    width: 100%;
}

.inputIcon {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
}
