.bubbleBlock {
    background: var(--light-gray);
    border-radius: 20px 20px 20px 0;
    padding: 8px 18px;
    max-width: 200px;
    width: 100%;
    margin-bottom: 10px;
}

.bubbleBlockIsMe {
    background: var(--primary-gradient);
    border-radius: 20px 20px 0 20px;
    color: var(--white);
    margin-left: auto;
}
