.bubbleBlock {
    background: var(--bg-light);
    border-radius: var(--radius);
    padding: 12px;
    max-width: 200px;
    width: 100%;
    margin-bottom: 10px;
}

.bubbleBlockIsMe {
    background: var(--primary-gradient);
    border-radius: var(--radius);
    color: var(--typography-light);
    margin-left: auto;
}
