.avatarBlock {
    --size: 40px;
    border-radius: 50%;
    height: var(--size);
    width: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatarBlockImage {
    border-radius: 50%;
    object-fit: cover;
}
