.authLayout {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.authLayoutImage {
    display: block;
    margin: 0;
    padding: 0;
}

.authLayoutTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #FF7841;
    text-align: center;
    margin-bottom: 70px;
}

.authLayoutBlock {
    background-color: #fff;
    border-top-left-radius: 60px;
    padding: 55px 30px;
    position: relative;
    z-index: 2;
    top: -140px;
}

.authLayoutLink {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: #262626;
}

.authLayoutLink a {
    color: #FF7841;
}
