.iconButton {
    background: none;
    border: none;
    outline-color: var(--primary);
    height: 24px;
    width: 24px;
    box-sizing: content-box;
    padding: 7px;
    background: var(--light-gray);
    cursor: pointer;
}
